@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: "Poppins", sans-serif;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;

  /* Font sizes */

  --font-size-xxs: 0.813rem; /* 13px */
  --font-size-base: 0.938rem; /* 15px */
  --font-size-h1: 1.5rem; /* 24px */
  --font-size-h2: 1.25rem; /* 20px */

  /* Spacing */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 3rem; /* 48px */

  /* Borders */
  --border-radius: 0.5rem; /* 8px */
  --border-width: 0.25rem; /* 4px */

  /* Widths */
  --content-mobile-width: 23.438rem; /* 375px */
  --content-desktop-width: 37.5rem; /* 600px */

  --card-mobile-width: 19.625rem; /* 314px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--grey-500);
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: var(--content-mobile-width);
  padding: var(--spacing-xxl) var(--spacing-xl);
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-normal);
  color: var(--grey-400);
  letter-spacing: -0.005em;
  line-height: 1.4;
  margin-block-end: var(--spacing-md);
}

h1 span {
  font-weight: var(--font-weight-semibold);
  color: var(--grey-500);
  letter-spacing: 0.01em;
}

main > p {
  font-weight: var(--font-weight-normal);
  color: var(--grey-400);
  line-height: 1.4;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin-block-start: var(--spacing-xxl);
}

.card {
  padding: var(--spacing-xl);
  padding-block-end: var(--spacing-xxl);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:first-child {
  border-block-start: var(--border-width) solid var(--cyan);
}

.card:nth-child(2) {
  border-block-start: var(--border-width) solid var(--red);
}
.card:nth-child(3) {
  border-block-start: var(--border-width) solid var(--orange);
}
.card:nth-child(4) {
  border-block-start: var(--border-width) solid var(--blue);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
  color: var(--grey-500);
  margin-block-end: var(--spacing-xxs);
}

.card p {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-light);
  color: var(--grey-400);
  line-height: 1.6;
  letter-spacing: 0.013em;
}
