@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  font-family: "Montserrat", sans-serif;

  font-size: 1rem; /* 16px */

  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: "Montserrat", sans-serif;
  --font-family-serif: "Fraunces", serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Font sizes */

  --font-size-base: 1rem; /* 16px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.8125rem; /* 13px */
  --font-size-md: 0.875rem; /* 14px */
  --font-size-2xl: 2rem; /* 32px */

  /* Spacing */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-14px: 0.875rem; /* 14px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.625rem; /* 26px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 2.5rem; /* 40px */

  /* Borders */
  --border-radius: 0.5rem; /* 8px */

  /* Widths */
  --content-mobile-width: 22rem;
  --content-desktop-width: 37.5rem; /* 600px */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--stone-600);
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
